$baseColor: rgb(10, 40, 90);

#P20171009 #rect1 {
  z-index: 1;
}
#P20171009 #rect2 {
  z-index: 2;
}
#P20171009 #rect3 {
  z-index: 3;
}
#P20171009 #rect4 {
  z-index: 5;
}
#P20171009 #circle1 {
  z-index: 4;
}
#P20171009 #circle2 {
  z-index: 6;
}

#P20171009 .frame {
  width: 550px;
  height: 600px;
  margin: 50px auto;
  background-color: $baseColor;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.3);
  background: linear-gradient($baseColor, darkgoldenrod);
}
#P20171009 .info {
  width: 550px;
  margin: 30px auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
}
#P20171009 .rect {
  position: absolute;
}
#P20171009 .rect#rect1 {
  margin-left: 50px;
  width: 10px;
  height: 600px;
  background-color: rgb(50, 10, 5);
}
#P20171009 .rect#rect2 {
  margin-left: 50px;
  height: 600px;
  width: 450px;
  border-right: 5px solid lightblue;
  background-color: rgba(0, 50, 200, 0.7);
}
#P20171009 .rect#rect3 {
  margin-left: 330px;
  height: 500px;
  width: 25px;
  background-color: rgba(190, 20, 5, 0.7);
  transform: skew(-30deg);
}
#P20171009 .rect#rect4 {
  margin-top: 250px;
  margin-left: 125px;
  width: 300px;
  height: 300px;
  background: linear-gradient(honeydew, lawngreen);
  opacity: 0.5;
  box-shadow: 10px 10px 0 palevioletred;
  transition: all 1s ease;
}
#P20171009 .rect#rect4:hover {
  transform: translateY(-100px) rotate(180deg);
}

#P20171009 .circle {
  position: absolute;
  border-radius: 50%;
}
#P20171009 .circle#circle1 {
  margin-top: 150px;
  margin-left: 250px;
  width: 50px;
  height: 50px;
  background-color: orangered;
}
#P20171009 .circle#circle2 {
  margin-top: 400px;
  margin-left: 250px;
  width: 50px;
  height: 50px;
  background-color: orangered;
}
