@import './normalize.css';

$shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);

* {
  box-sizing: boder-box;
}
html,
body {
  margin: 0;
  padding: 0;
  color: rgb(61, 61, 61);
  font-family: 'Roboto', sans-serif;
}
.title {
  padding: 0 1em;
  display: flex;
  flex-wrap: no-wrap;
  font-size: 4em;
  color: #eee;
  .letter {
    transition: 0.2s ease-out;
  }
}

@for $i from 1 through 15 {
  #letter-#{$i}:hover {
    color: hsl($i * 12, 95, 60);
  }
}

header {
  margin-top: 100px;
  margin-bottom: 200px;
}

.paintings {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 2em;
}
.painting {
  margin: 100px 50px;
}
.painting:first-of-type {
  margin: 0;
}
.info {
  margin: 30px auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  letter-spacing: 3px;
}

footer.footer {
  padding: 1em;
  display: flex;
  height: 100px;
  font-size: 3em;
  flex-wrap: no-wrap;
  color: rgb(200, 50, 80);

  .letter {
    transition: 0.2s ease-out;

    &:hover {
      color: rgba(10, 25, 256, 0.5);
    }
  }
}

@media (max-width: 768px) {
  header.header {
    height: 65px;
    margin-bottom: 100px;
    &:hover {
      height: 65px;
      margin-bottom: 100px;
    }
  }
  .title {
    font-size: 2em;
    margin: 0;

    .letter {
      margin-top: 10px;
      height: 50px;

      &:hover {
        transform: translateY(0px);
      }
    }
  }
  .painting {
    margin: 100px 0;
  }
  footer.footer {
    height: 40px;
    margin: 60px 0 0 0;
    font-size: 1.5em;
    .letter {
      height: 40px;
      &:hover {
        transform: translateY(0px);
      }
    }
  }
}
